@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setup style tag html */
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-[18.72px] font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  h5 {
    @apply text-[13.28px] font-bold;
  }
  h6 {
    @apply text-[10.72px] font-bold;
  }
}

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 500px;
} */
